<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Github User App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="githubData">

    <h2>Github User</h2>
    <form>
      Username: <input type="text" ng-model="username"><br>
      <button ng-click="find()">Show</button>
    </form>
    <br>

    <div ng-show="display()">
      <h2>{{ userData.name }}</h2>
      <img id="avatar" ng-src="{{ userData.avatar_url }}" alt="avatar">
      <p ng-hide="userData.bio == null">{{ userData.bio }}</p>
      <p>Username: {{ userData.login }}</p>
      <p ng-hide="userData.company == null">Company: {{ userData.company }}</p>
      <p ng-hide="userData.email == null">E-mail: {{ userData.email }}</p>
      <p ng-hide="userData.location == null">Location: {{ userData.location }}</p>
      <p ng-hide="userData.blog == null">Blog: <a ng-href="{{userData.blog}}" target="_blank">{{ userData.blog }}</a></p>
      <p ng-hide="userData.followers == null">Followers: {{ userData.followers }}</p>
      <p ng-hide="userData.following == null">Following: {{ userData.following }}</p>
      <p ng-hide="userData.public_repost == null">Public Repository: {{ userData.public_repos }}</p>
      <p ng-hide="userData.created_at == null">Join Date: {{ userData.created_at | date:'medium'}}</p>
      <p ng-hide="userData.updated_at == null">Last Activity: {{ userData.updated_at | date:'medium'}}</p>
    </div>

  </body>
</html>
